@using Store.Counter
@using Fluxor

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@inject IState<CounterState> CounterState
@inject IDispatcher Dispatcher

<p>ChildCounterComponent count: @CounterState.Value.ClickCount</p>

@code {      
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    
    protected override void Dispose(bool disposing)
    {
        base.Dispose(disposing);
        Dispatcher.Dispatch(new IncrementCounterAction());
    }
}
